{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
      "browser": true,
      "node": true,
      "es6": true,
      "mocha": true
  },
  "rules": {
      "comma-dangle": ["error", "never"],
      "react/jsx-filename-extension": 0,
      "indent": 0,
      "react/jsx-indent": 4,
      "react/jsx-indent-props": 4,
      "jsx-a11y/label-has-for": "off",
      "jsx-a11y/label-has-associated-control": [ 2, {
          "labelComponents": ["CustomInputLabel"],
          "labelAttributes": ["label"],
          "controlComponents": ["CustomInput"],
          "depth": 3
        }],
      "max-len": 0,
      "no-underscore-dangle": "off"
  }
}