* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  font-family: Helvetica,Arial,sans-serif;
  margin: 0;
  margin-top: 50px; /* for the fixed header */
  position: relative;
}

@media (min-width: 640px) {
  body {
    margin-top: 63px;
  }
}
